@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p class="lead">Realizei a criação das paginas e CRUD com Entity e MVC5 </p>
    <p class="lead">Não inseri validações e manipulações de estoque pós venda pois não estou habituado com JS e MVC,
    nos últimos anos tenho programado somente lado Database SQL server procedural, elaborando DB a toda logica, que não eram feitas no código, facilitando manutenção e evitando releases constantes. A parte mvc/js era relizada por outros membros da equipe. </p>

    <p class="lead">O tipo de posição que procuro é de Technical Lead, Scrum master, analista de banco de dados.
    Ou também poderia de aperfeiçoar o conhecimento de MVC/Entity e/ou Mobile (flutter e android studio) </p>

    Obrigado<br />
    murillobortot@gmail.com
</div>