@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p class="lead">Realizei a criação das paginas e CRUD com Entity e MVC5 </p>
    <p class="lead">Validações e manipulações de estoque estão faltando, não estou habituado com a fazer query no visual studio,
     tenho programado nos ultimos anos lado Database SQL server procedural, elaborando DB e lógica, que não eram feitas no código, facilitando assim manutenção e evitando releases constantes. </p>

    <p class="lead">O tipo de posição que procuro é de Technical Lead ou Scrum master ou analista de banco de dados.
    Ou também poderia aperfeiçoar o conhecimento de MVC/Entity e/ou Mobile (flutter e android studio), algo que siga esta estrada. </p>

    Obrigado<br />
    murillobortot@gmail.com
</div>